*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #999999;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

i {
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h3 {
    color: #333333;
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

h4 {
    font-family: "Kaushan Script", serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #333333;
}

h5 {
    color: #333333;
    font-family: 'Montserrat', serif;
    font-size: 0.933rem;
    font-weight: 400;
    text-transform: uppercase;
}

h3:after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.wrapper {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}


/* header */


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.inner-header {
    font-family: 'Montserrat', serif;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
}

.page-header {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
}


/* burger */


#menu__toggle {
    display: none;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 35px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(119, 118, 118);
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
  
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
  
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.nav-list {
  transition-duration: .25s;
}
.nav-list li a {
  transition-duration: .25s;
}

.main-nav {
    position: relative;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-top: 10px;
    position: relative;
}

.nav-list i {
    font-size: 1.2rem;
}

.nav-list > li {
    margin-left: 50px;
    font-family: 'Montserrat', serif;
    font-size: 0.933rem;
    font-weight: 400;
    line-height: 1;
}

.nav-list > li > a:after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    display: block;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.nav-list > li > a:hover:after {
    opacity: 1;
}

.nav-list > li > a {
    text-transform: uppercase;
    color: #ffffff;
    transition: color 0.2s ease;
}

.nav-list a:hover {
    color: #fce38a;
}

.inner-header > a {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
}

.title {
    margin: 105px 0 58px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* banner  */


.banner {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(232,129,130,0.9) 0%,rgba(240,217,138,0.9) 100%);
}

.banner-wrapper {
    position: absolute;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-h1 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 10rem;
    text-transform: uppercase;
    line-height: 9.333rem;
    letter-spacing: 0;
    padding: 0 70px;
    position: relative;
    margin-bottom: 115px;
}

.banner-h1:after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    left: calc(50% - 30px);
    margin-top: 64px;
}

.banner-h2 {
    font-family: 'Kaushan Script', serif;
    font-size: 4.8em;
    font-weight: 400;
    margin-bottom: 15px;
}

.banner-btn {
    border: #ffffff solid 3px;
    padding: 9px 27px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-size: 0.933rem;
    font-weight: 700;
    color: #ffffff;
}


/* services */


.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 115px;
}

.services-title {
    margin: 145px 0 62px;
    text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.services-item {
    display: flex;
    flex-direction: column;
    margin: 0 35px 64px;
    padding: 0px 30px;
    width: calc(33.333% - 70px);
}

.services-item i {
    font-size: 2.13rem;
    color: #95e1d3;
    transform: translateX(-54px) translateY(37px);
}

.services-item h5 {
    margin-bottom: 5px;
}

.services-item:nth-child(3n+1):before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    transform: translateY(-13px);
}

.services-item:first-child:before {
    content: none;
}


/* panel */


.panel-wrapper {
    width: 100%;
    background-color: #95e1d3;
}

.panel-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.panel-list h2 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
}

.panel-list p {
    font-size: 0.933rem;
    font-weight: 400;
    margin: 0;
}

.panel-list li {
    margin: 80px 0;
    width: calc(33.333%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.panel-list li::before {
    content: '';
    width: 1px;
    height: 270px;
    position: absolute;
    background-color: #ffffff;
    opacity: 0.3;
    left: 0px;
}

.panel-list li:last-child::after {
    content: '';
    width: 1px;
    height: 270px;
    position: absolute;
    background-color: #ffffff;
    opacity: 0.3;
    right: 0px;
}


/* team */


.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-container > p {
    text-align: center;
    padding: 0 120px;
    margin-bottom: 92px;
}

.team-title {
    margin-bottom: 71px;
}

.photo-box {
    display: flex;
    margin-bottom: 117px;
}

.photo-text {
    text-align: center;
}

.photo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    position: relative;
}

.photo-item p {
    margin: 0;
}

.photo-item p i {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.photo-item h5 {
    color: #333333;
    font-family: 'Montserrat', serif;
    font-size: 0.933rem;
    font-weight: 400;
    text-transform: uppercase;
}

.photo-inner {
    background-color: #95e1d3;
    position: relative;
    margin-bottom: 25px;
}

.photo-holder {
    background: linear-gradient(to bottom, rgba(252,227,138,1) 0%,rgba(243,129,129,1) 100%);
    transition: transform .2s ease;
}

.photo-inner:hover .photo-holder {
    transform: translate3d(-10px, -10px, 0);
}

.photo-inner:hover .photo-holder img {
    opacity: .1;
}

.photo-inner:hover .icon-holder {
    opacity: 1;
}

.icon-holder {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    z-index: 2;

    text-align: center;
    opacity: 0;

    transition: transform .2s ease;
    transition: opacity .2s ease;
}



.icon-list {
    display: flex;
    justify-content: center;
}

.icon-list a{
    padding: 8px 15px;
    border-right: #f38181 solid 1px;
    background-color: #fce38a;
    font-size: 1.73rem;
    color: #f38181;
}

.icon-list a:last-child {
    border-right: none;
}

.icon-list a:hover {
    color: #fff;
    background-color: #f38181;
}


/* logo-partner */


.partner-logo {
    background-color: #f8f8f8;
}


.logo-holder {
    display: flex;
    justify-content: space-between;
    padding: 60px 13px;
}

.logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px; 
    width: calc(33.333% - 90px);
}

.logo-item:last-child {
    margin: 0;
}


/* gallery */


.title-gallery {
    margin-bottom: 73px;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.gallery-container > p {
    text-align: center;
    padding: 0 120px;
}

.gallery {
    display: flex;
}

.gallery-holder img {
    display: block;
}

.gallery-holder {
    width: 25%;
}

.gallery-item {
    position: relative;
}

.gallery-item::before {
    content: '';
    background: linear-gradient(to bottom, rgba(252,227,138,0.9) 0%,rgba(243,129,129,0.9) 100%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.gallery-item:hover::before {
    opacity: 1;
}

.icon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 48px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.gallery-item:hover .icon-text {
    opacity: 1;
}

.icon-text h5 {
    color: #ffffff;
    font-family: 'Montserrat', serif;
    font-size: 0.933rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.icon-text p {
    color: #ffffff;
    font-family: "Roboto - Light Italic", sans-serif;
    font-weight: 400;
    margin: 0;
}

.icon-text > i {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
}


/* bloquote */


.bloquote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloquote-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 130px;
}

.bloquote-holder blockquote {
    margin: 0;
    padding-right: 150px;
}

.bloquote-holder img {
    margin-right: 31px;
}

.bloquote-holder p {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.bloquote-footer h4 {
    position: relative;
    margin-left: 75px;
}

.bloquote-footer h4:before {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: block;
    position: absolute;
    left: -75px;
    top: 18px;
}


/* clients */


.clients-banner {
    position: relative;
}

.clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
}

.clients-banner {
    background-repeat: no-repeat;
    background-size: cover;
}

.title-clients {
    margin-top: 109px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: 62px 0 59px;
}

.clients-holder {
    width: calc(50% - 85px);
    margin: 0 42px 70px;
    position: relative;
    display: flex;
}

.clients-img {
    margin-right: 30px;
}


.clients-img {
    width: 180px;
    height: 110px;
    border-radius: 50%;
}

.clients-text {
    max-width: 100%;
}

.clients-text h5 {
    margin-bottom: 4px;
}

.clients-text  p i {
    position: relative;
}

.clients-text p i:after{
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: block;
    position: absolute;
    top: 35px;
}

.clients-text p:last-child {
    margin-top: 37px;
}

/* blog */

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-blog {
    margin: 112px 0 92px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

.blog-post {
    width: calc(33.333% - 32px);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 16px;
}

.img-holder {
    position: relative;
    margin-bottom: 15px;
}

.img-holder img {
    max-width: 100%;
}

.blog-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 14px;
    background-color: #95e1d3;
    position: absolute;
    top: 151px;
    left: -10px;
}

.blog-date h5 {
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    line-height: 1;
}

.blog-date p {
    color: #fff;
    line-height: 1;
}

.blog-text {
    margin-bottom: 31px;
}

.blog-text h5 {
    margin-bottom: 8px;
}

.blog-text::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    transform: translateY(17px);
}

.blog-icons {
    display: flex;
}

.blog-holder {
    display: flex;
    align-items: center;
    margin-right: 19px;
}

.blog-holder > i {
    font-size: 1.06rem;
    color: #95e1d3;
    margin-right: 9px;
}

.blog-holder a > i {
    font-size: 1.06rem;
    color: #95e1d3;
    margin-right: 9px;
}


/* footer */


.footer {
    background-color: #f8f8f8;
}

.footer-container {
    display: flex;
}


/* about-contacts */


.about-mogo {
    position: relative;
    flex-grow: 1;
    margin-top: 55px;
    margin-right: 31px;
}

.mogo-text {
    margin-bottom: 39px;
}

.mogo-text h2 {
    font-family: 'Montserrat', serif;
    font-size: 3.06rem;
    font-weight: 700;
    margin-bottom: 18px;
}

.mogo-followers {
    color: #333333;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.mogo-followers::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    transform: translateY(25px);
}

.mogo-followers h4 {
    font-family: 'Montserrat', serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 4px;
}

.mogo-followers p {
    font-family: 'Montserrat', serif;
    font-weight: 400;
}

.mogo-icons {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.mogo-icons p {
    margin-right: 3px;
}

.mogo-icons-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}

.mogo-icons-list i {
    color: #95e1d3;
    font-size: 1.06rem;
}

.mogo-icons-list li {
    margin: 0 7px;
}

.mogo-form input {
    height: 40px;
    width: 230px;
}

.mogo-btn {
    padding: 11px 31px;
    background-color: #95e1d3;
    border: none;
    position: absolute;
    color: #ffffff;
    font-family: 'Montserrat', serif;
    font-size: 0.933rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}


/* footer-blogs */


.footer-blogs {
    margin: 75px 39px 0 0;
    padding: 0 20px;
    flex-shrink: 0;
    width: 33.333%;
}

.footer-blogs > h5 {
    margin-bottom: 32px;
    
}

.post {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}

.post-text h5 {
    font-size: 0.8rem;
}

.post img {
    margin-right: 20px;
}


/* footer-instagram */


.footer-instagram {
    margin-top: 75px;
}

.footer-instagram i {
    font-family: "Roboto", sans-serif;
    font-size: 0.866rem;
    font-style: italic;
}

.footer-instagram > h5{
    margin-bottom: 32px;
}

.footer-instagram a {
    color: #999999;
}

.instagram-holder {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 11px;
    width: 270px;
}

.instagram-holder img {
    margin: 1px;
}

@media (max-width: 1024px) {

    .banner-h2 {
        font-size: 3.5rem;
    }

    .banner-h1 {
        font-size: 8rem;
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 20px;
    }

    .services-item {
        width: calc(50% - 70px);
    }

    .services-item:nth-child(2n+1):before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        background-color: #e5e5e5;
        transform: translateY(-13px);
    }

    .services-item:first-child::before {
        content: none;
    }

    .panel-list li {
        margin: 60px 0;
    }
    
    .panel-list h2 {
        font-size: 3rem;
    }
    
    .panel-list p {
        font-size: 0.8rem;
    }

    .bloquote-holder blockquote {
        padding-right: 0px;
    }

    .bloquote-holder {
        margin: 100px 20px 130px;
    }

    .bloquote-holder p {
        font-size: 1.4rem;
    }

    .blog-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    .blog-post img {
        width: 100%;
    }

    .blog-post {
        width: calc(70% - 32px);
        margin: 0 50px 20px;
        justify-content: center;
        align-items: center;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .about-mogo {
        display: flex;
        flex-direction: column;
        margin: 55px 0;
        padding: 0 100px;
    }

    .mogo-social {
        position: relative;
    }

    .footer-blogs {
        margin: 75px 0 0;
        padding: 0;
    }

    .icon-text h5 {
        font-size: 0.7rem;
    }

    .icon-text p {
        font-size: 0.6rem;
    }

}

@media (max-width: 768px) {

    .menu__btn {
        display: block;
    }

    #menu__toggle:checked ~ .nav-list {
        visibility: visible;
        transform: translateX(-100%);
    }

    .nav-list {
        display: block;
        position: fixed;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        top: 0;
        right: -100%;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(232,129,130,0.9) 25%,rgba(240,217,138,0.9) 100%);
    }

    .nav-list li {
        margin: 5px 0;
    }

    .nav-list li a {
        display: block;
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', serif;
        padding: 5px 0;
        font-size: 1.4rem;
        font-weight: 400;
        text-decoration: none;
        line-height: 1;
    } 

    .banner-h2 {
        font-size: 3rem;
    }

    .banner-h1 {
        font-size: 6rem;
        line-height: 8rem;
    }

    .banner-h1:after {
        margin-top: 45px;
    }

    .panel-list li {
        margin: 45px 0;
    }
    
    .panel-list h2 {
        font-size: 2.2rem;
    }
    
    .panel-list p {
        font-size: 0.6rem;
    }

    .photo-box {
        display: flex;
        flex-direction: column;
    }

    .photo-item {
        margin-bottom: 40px;
    }

    .logo-holder {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 13px;
    }

    .logo-item {
        width: 33.333%;
        margin: 0 0 40px;
    }

    .logo-item:last-child {
        margin: 0 0 40px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-holder {
        width: 50%;
    }

    .bloquote-holder p {
        font-size: 1.2rem;
    }

    .clients-list {
        justify-content: center;
    }

    .clients-holder {
        width: 75%;
        display: flex;
        margin: 0 0 70px;
    }

    .blog-date {
        padding: 10px 9px;
        top: 180px;
    }

    .blog-date h5 {
        font-size: 1.3rem;
    }

    .blog-date p {
        font-size: 0.8rem;
    }

    .footer-blogs {
        width: 50%;
    }

}

@media (max-width: 480px) {

    p {
        font-size: 0.933rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .banner-h2 {
        font-size: 2.2rem;
    }

    .banner-h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .team-container > p {
        padding: 0;
    }

    .gallery-container > p {
        padding: 0;
    }

    .title {
        margin: 70px 0 100px;
    }
    
    .services {
        margin-bottom: 50px;
    }

    .services-list {
        justify-content: center;
        align-items: center;
    }

    .services-item {
        width: calc(100% - 70px);
        margin: 0 0 100px;
        align-items: center;
    }

    .services-item i {
        font-size: 2.6rem;
        transform: none;
        margin-bottom: 20px;
    }

    .services-text {
        text-align: center;
    }

    .services-item:nth-child(1n+1):before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        background-color: #e5e5e5;
        transform: translateY(-53px);
    }

    .services-item:first-child::before {
        content: none;
    }

    .panel-list {
        flex-wrap: wrap;
    }
    
    .panel-list li {
        width: 100%;
        margin: 20px 0;
    }
    
    .panel-list li:before {
        content: '';
        width: 50%;
        height: 1px;
        position: absolute;
        background-color: #ffffff;
        opacity: 0.3;
        top: 85px;
        left: 50%;
        transform: translatex(-50%);
    }

    .panel-list li:last-child:before {
        content: none;
    }

    .photo-box {
        align-items: center;
    }

    .photo-item {
        width: 75%;
    }

    .bloquote-holder img {
        width: 33.333%;
        margin: 0 0 25px ;
    }

    .bloquote-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .bloquote-holder p {
        font-size: 1.2rem;
    }

    .blog-date {
        top: 130px;
    }

    .footer-form div {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .footer-form input {
        width: 275px;
    }

    .mogo-btn {
        top: 45px;
        width: 100%;
    }

    .footer-blogs {
        width: 75%;
    }

    .icon-text h5 {
        font-size: 0.5rem;
    }

    .icon-text p {
        font-size: 0.8rem;
    }

}

@media (max-width: 320px) {

    .banner-h2 {
        font-size: 1.8rem;
    }

    .banner-h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .icon-list a {
        font-size: 1.2rem;
        padding: 6px 10px;
    }

    .logo-holder {
        padding: 30px 15px 0;
    }

    .logo-item img {
        max-width: 75%;
    }

    .gallery-holder {
        width: 100%;
    }

    .icon-text h5 {
        font-size: 0.8rem;
    }

    .blog-date {
        top: 70px;
        padding: 7px 6px;
    }

    .blog-date h5 {
        font-size: 1rem;
    }
    
    .blog-date p {
        font-size: 0.6rem;
    }

    .clients-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
    }

    .clients-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .client-img {
        margin: 0 0 10px;
        width: 120px;
    }
    
    .clients-text p i:after {
        content: '';
        width: 60px;
        height: 3px;
        background-color: #f38181;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
